In [165]:
# Dependencies
import pandas as pd

# Load file
data_file = "../Resources/purchase_data.csv"

# Read file
purchasing_data =pd.read_csv(data_file)

In [166]:
# Create dataframe
purchasing_data_df = pd.DataFrame(purchasing_data)

# Verify
purchasing_data_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [167]:
# Total number of players
# Find unique values in SN column of base dataframe
unique_users = purchasing_data_df["SN"].unique()
# Assign list of unique values to new dataframe in order to find count
unique_users_df = pd.DataFrame(unique_users)
# Find count of values in new dataframe
total_users=unique_users_df.count()
# Assign to new dataframe in order to label column as "Total Users"
total_users_df = pd.DataFrame({"Total Users":total_users})

total_users_df

   Total Users
0          576

In [168]:
# Run basic calculations to obtain number of unique items, average purchase price, total number of purchases, total revenue
# Find total number of unique values in Item name column of base dataframe
unique_items = purchasing_data_df["Item Name"].unique()
unique_items_df = pd.DataFrame(unique_items)
unique_items_df

                                             0
0    Extraction, Quickblade Of Trembling Hands
1                            Frenzied Scimitar
2                                 Final Critic
3                                  Blindscythe
4                                         Fury
..                                         ...
174                Alpha, Reach of Ending Hope
175                                      Alpha
176                                   Betrayer
177   Winterthorn, Defender of Shifting Worlds
178                         Gladiator's Glaive

[179 rows x 1 columns]

In [169]:
total_unique_items = unique_items_df[0].count()
total_unique_items
#total_unique_items_df = pd.DataFrame([total_unique_items])
#total_unique_items_df

179

In [170]:
# Find average of values in Price column of base dataframe
average_price = purchasing_data_df["Price"].mean()
#average_price_df = pd.DataFrame([average_price])
#average_price_df

In [171]:
# Find total number of purchases
total_purchases = purchasing_data_df["Purchase ID"].count()
#total_purchases_df = pd.DataFrame([total_purchases])
#total_purchases_df

In [172]:
# Find total revenue
total_revenue = purchasing_data_df["Price"].sum()
#total_revenue_df = pd.DataFrame([total_revenue])
#total_revenue_df

In [173]:
# Create summary dataframe for display
purchasing_summary_df = pd.DataFrame({
    "Number of Unique Items":[total_unique_items],
    "Average Price":[average_price],
    "Number of Purchases":[total_purchases],
    "Total Revenue":[total_revenue]
                                    })
purchasing_summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [174]:
format_purchasing_summary = purchasing_summary_df.copy()

format_purchasing_summary["Average Price"] = format_purchasing_summary["Average Price"].map("${:,.2f}".format)
format_purchasing_summary["Total Revenue"] = format_purchasing_summary["Total Revenue"].map("${:,.2f}".format)

format_purchasing_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [179]:
purchases_by_gender = purchasing_data_df.groupby(["Gender"])
purchases_by_gender_df = pd.DataFrame(purchases_by_gender["Purchase ID"].count())
purchases_by_gender_df.head()

                       Purchase ID
Gender
Female                         113
Male                           652
Other / Non-Disclosed           15

In [159]:
# Gender demographics
# Count of Female Players

female_purchasing_data = purchasing_data.loc[purchasing_data["Gender"] == "Female",:]
total_female_users = female_purchasing_data["Purchase ID"].count()
total_female_users

113

In [160]:
# Count of Male Players
male_purchasing_data = purchasing_data.loc[purchasing_data["Gender"] == "Male",:]
total_male_users = male_purchasing_data["Purchase ID"].count()
total_male_users

652

In [161]:
# Count of Other / Non-Disclosed
other_purchasing_data = purchasing_data.loc[purchasing_data["Gender"] == "Other / Non-Disclosed",:]
total_other_users = other_purchasing_data["Purchase ID"].count()
total_other_users

15

In [164]:
# Percentages of Players by Gender
# note: use total_users for percentage calculation

percent_female_users = total_female_users/total_users
print(percent_female_users)

percent_male_users = total_male_users/total_users
print(percent_male_users)

percent_other_users = total_other_users/total_users
print(percent_other_users)

0    0.196181
dtype: float64
0    1.131944
dtype: float64
0    0.026042
dtype: float64

In [ ]:
gender_dict = [{"Total Count": percenter}]

gender_demo_df = pd.DataFrame([])